*{
    margin: 0;
    padding: 0;
}
   
header { 
    background-color: #F6AFCD;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}
   
.navbar-brand, .nav-link { 
    color: #ffffff; 
    font-size: 20px;
    font-weight: bold;
    font-family: "Balsamiq Sans";
    text-transform: uppercase;
} 

.dropdown-menu.show{
    background-color: black;
    font-family: "Balsamiq Sans";
    color: rgb(255, 255, 255);
   }

   .navbar-brand, .dropdown-item{
    color: rgb(255, 255, 255);
   }

   .navbar-brand, .dropdown-item:hover{
    background-color: #F6AFCD;
    color: black;
   }
   
.social-icons a { 
    margin-left: 15px; 
    font-size: 2rem;
    color: #ffffff; 
    font-size: 20px;
} 
   
.nav-link:hover {
    color: #E32B23;
}
   
.social-icons a:hover{
    color: #E32B23;
}

#contact-uno h2{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
    font-family: "Balsamiq Sans";
    color: #F6AFCD;
}

#contact-uno .btn-personalizado{
    background-color: #D82A7C;
    border-color: #D82A7C;
    color: #fff;
    font-family: "Balsamiq Sans";
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

#contact-uno .btn-personalizado:hover{
    background-color: #E32B23;
    border-color: #E32B23;
}

.image-container {
    position: relative;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    overflow: hidden;
}

.image-container img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/*información de contacto*/
.content {
    position: relative;
    z-index: 2;
}

.mb-4 h2{
    font-size: 2.5em;
    letter-spacing: -1px;
    margin-bottom: 1rem;
    font-family: "Concert One";
    color:#89030C;
    padding-bottom: 20px;
}

.mb-4 h3{
    font-size: 2em;
    font-family: "Concert One";
    color:#D82A7C;
    padding-top: 40px;
}


.mb-4 p{
    font-family: "Balsamiq Sans";
    font-size: 20px;
    color: #000000 ;
}

.mb-4 a{
    font-family: "Balsamiq Sans";
    font-size: 20px;
    color: #000000;
    text-decoration: none;
    
}

.icon-contact i{
    padding: 5px;
    color:  #D82A7C;
    font-size: 30px;
}

.icon-contact i:hover{
    color: #000000;
}


/*fomulario*/

#formulario-contacto{
    background-color: #ffb6d5;
    padding: 2px 25px 25px 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 2px  #89030ccc;
}

.form-label{
    color: #89030C;
    font-size: 20px;
    font-family:"Concert One" ;
}

.mb-3 input{
    border-radius: 15px;
    border: 3px solid #FF0066
}

.mb-3 textarea{
    border-radius: 15px;
    border: 3px solid #FF0066
}

.btn-formulario{
    background-color: #FF0066;
    border-color: #5c3746;
    color: #fff;
    font-family: "Balsamiq Sans";
    font-size: 1.2em;
    border: none;
    padding: 8px 30px;
    margin: 0 40%;
    border-radius: 25px;
    transition: background-color 0.3s ease;
}

.btn-formulario:hover{
    background-color: #E32B23;
    border-color: #E32B23;
    color: #fff;
}

.social-icon i{
    background-color: #E32B23;
    color: #ffffff;
   
}

.social-icon i:hover{
    background-color: #FF0066;
    color: white;
}


/*mapa*/
.py-5 h2{
    font-size: 35px;
    font-family: "Concert One";
    color:#89030C ;
    text-align: center;
    padding-top: 35px;

}

.map-container {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #f8cbde;
    border-radius: 15px;
    overflow: hidden;
    margin-right: 3rem;
}

iframe {
    border: 0;
    width: 100%;
    height: 100%;
}


/*footer*/
.footer {
    background-color: #89030C;
    color: #f0f0f0;
    font-size: 1em;
    padding-top: 20px;
}
   
.footer-logo {
    width: 100px;
    max-width: 100%;
}
   
.footer p{
    font-size: 1em;
    color: #f0f0f0;
    font-family: "Balsamiq Sans";
}
   
   
.footer h6{
    font-size: 1em;
    color: #f0f0f0;
    padding: 0 30px;
    font-family: "Balsamiq Sans";
}
   
.footer a {
    font-size: 1.5rem; 
    color: #f0f0f0;
    padding: 0 10px;
}
   
.footer a:hover {
    color: #ff6f61; 
}
   
.footer .border-top {
    border-color: #555;
}
